.transactions-container {
    background-color: rgba(227, 227, 74, 0.826);
    border: 1px solid #000; /* Border for the 10-line box */
    padding: 10px; /* Padding inside the box */
    /* border-radius: 10px; */
  }
  
  .transactions-table {
    border-collapse: collapse; /* Border-collapse for the table */
    width: 100%;
  }
  
  .transactions-table th, .transactions-table td {
    border: 2px solid #000; /* Border for table cells */
    padding: 8px; /* Padding inside table cells */
  }
  .pagination{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    
  }
  .pagination button{
    color: black;
  background-color: white;
  padding: 2px;
  margin-top: 2px;
  font-weight: bold;
  border: 1px solid black;

  }
 .search{
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
  font-weight: bold;
 }